.box {
    text-align: left;
    width: 21em;
    margin: auto;
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    padding: 1.5em;
}

body {
    background-color: hsl(216, 12%, 8%);
}

h1 {
    color: hsl(0, 0%, 100%);
    
}

.text {
    font-family: 'Overpass', sans-serif;
}

p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    width: 20em;
    padding-bottom: 2em;
}

.star {
    border-radius: 45%;
    background-color: hsl(216, 8%, 25%);
    padding: 17px;
    position: top left;
}

span {
    border-radius: 50%;
    background-color: hsl(216, 8%, 25%);
    padding: 15px 20px;
    margin: 0.75em;
}

h4 {
    text-align: center;
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
    border-radius: 20px;
    padding: 8px;
    width: 20em;
    margin: auto;
    letter-spacing: 2px;
}