.box-rating {
    text-align: left;
    width: 21rem;
    margin: auto auto 0.3rem auto;
    background-color: hsl(213, 19%, 18%);
    border-radius: 1.5rem;
    padding: 1.5rem;
    height: 21rem;
}

body {
    background-color: hsl(216, 12%, 8%);
}

h1 {
    color: hsl(0, 0%, 100%);
    
}

.text {
    font-family: 'Overpass', sans-serif;
}

p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    width: 21rem;
    padding-bottom: 0em;
}

.star {
    border-radius: 45%;
    background-color: hsl(216, 8%, 25%);
    padding: 1rem;
    position: top left;
}

button {
    text-align: center;
    border-style: none;
    border-width: 0px;
}

.btn {
    text-align: center;
    color: hsl(217, 12%, 63%);
    border-radius: 50%;
    background-color: hsl(216, 8%, 25%);
    padding: 1.2rem 1.53rem;
    margin: 0.5rem 0.25rem 0.7rem 0.25rem;
    border-style: none;
    border-width: 0px;
    cursor: pointer;
}

.btn:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
}

.btn[data-active="active"] {
    background-color:hsl(217, 12%, 63%);
    color:hsl(0, 0%, 100%);
}

.submit-button {
    text-align: center;
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
    border-radius: 2rem;
    padding: 0.75rem 0.6rem 0.6rem 0.6rem;
    width: 21rem;
    margin: 0rem auto auto auto;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

.submit-button:hover {
    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);
}

.box-thx {
    text-align: center;
    width: 21rem;
    margin: auto auto 0.3rem auto;
    background-color: hsl(213, 19%, 18%);
    border-radius: 1.5rem;
    padding: 1.5rem;
    height: 21rem;
    display:none;
}

.thx{
    margin-bottom: 2rem;
    width: 50%;
}

.rating {
    color:hsl(25, 97%, 53%);
    background-color: hsl(216, 8%, 25%);
    border-radius: 1.3rem;
    padding: 0.55rem 0rem 0.4rem 0rem;
    width: 13.5rem;
    margin: auto;
}
