.box-rating {
    text-align: left;
    width: 21em;
    margin: auto;
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    padding: 1.5em;
    height: 21em;
}

body {
    background-color: hsl(216, 12%, 8%);
}

h1 {
    color: hsl(0, 0%, 100%);
    
}

.text {
    font-family: 'Overpass', sans-serif;
}

p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    width: 22em;
    padding-bottom: 0em;
}

.star {
    border-radius: 45%;
    background-color: hsl(216, 8%, 25%);
    padding: 17px;
    position: top left;
}

.btn {
    color: hsl(217, 12%, 63%);
    border-radius: 50%;
    background-color: hsl(216, 8%, 25%);
    padding: 15px 20px;
    margin: 0.7em;
    border-style: none;
    border-width: 0px;
    cursor: pointer;
}

.btn:hover {
    color: hsl(0, 0%, 100%);
    border-radius: 50%;
    background-color: hsl(25, 97%, 53%);
    padding: 15px 20px;
    margin: 0.7em;
    border-style: none;
    border-width: 0px;
}

.btn[data-active="active"] {
    background-color:hsl(217, 12%, 63%);
    color:hsl(0, 0%, 100%);
}

h4 {
    text-align: center;
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
    border-radius: 20px;
    padding: 8px;
    width: 20em;
    margin: auto;
    letter-spacing: 2px;
    cursor: pointer;
}

.submit-button {
    text-align: center;
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
    border-radius: 20px;
    padding: 8px;
    width: 20em;
    margin: auto;
    letter-spacing: 2px;
}

h4.submit-button:hover {
    text-align: center;
    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 8px;
    width: 20em;
    margin: auto;
    letter-spacing: 2px;
}

.box-thx {
    text-align: center;
    width: 21em;
    margin: auto auto 5px auto;
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    padding: 1.5em;
    height: 20em;
}

.thx{
    margin-bottom: 2em;
    width: 40%;
}

.rating {
    color:hsl(25, 97%, 53%);
    background-color: hsl(216, 8%, 25%);
    border-radius: 20px;
    padding: 7px;
    width: 13.5em;
    margin: auto;
}